{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}Symfony App{% endblock %}


{% block headline %}AngularJS Symfony App Distribution{% endblock headline %}


{% block footer %}
<p>&copy; <a href="https://github.com/pasinter/SymfonyApp" target="_blank">AngularJS Symfony App Distribution</a> 2014</p>
{% endblock footer %}